@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';

header {
    height: $header-h;
    width: calc(100% - 60px);
    @include flex(row, space-between, center);
    padding: 0 37px;
    background-color: $purple;
    color: $white;
    font-weight: 500;
    font-size: 20px;

    div {
        a {
            height: 40px;
            @include flex(row, space-between, center);
            text-decoration: none;
            color: inherit;
            img {
                height: 30px;
                width: auto;
                margin-right: 8px;
            }
        }
    }

    .user {
        @include label(14px);
        line-height: 17px;
        color: transparentize($white, 0.3);
    }
}
