@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';

header {
    height: $header-h;
    width: calc(100% - 60px);
    @include flex(row, space-between, center);
    padding: 0 37px;
    background-color: $purple;
    color: $white;
    font-weight: 500;
    font-size: 20px;

    .logo {
        a {
            height: 40px;
            @include flex(row, space-between, center);
            text-decoration: none;
            color: inherit;
            img {
                height: 30px;
                width: auto;
                margin-right: 8px;
            }
        }
    }
}

.user-container {
    position: relative;
    &.active {
        .user-menu {
            display: block;
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.13);
        }
        .user {
            color: $white;
            &::after {
                border-top: 4px solid $white;
                transform: rotate(-180deg) translateY(25%);
            }
        }
    }
    .user {
        @include label(14px);
        line-height: 17px;
        color: transparentize($white, 0.3);
        cursor: pointer;
        font-weight: 300;
        transition: color 0.3s;
        &::after {
            content: '';
            display: inline-block;
            transition: all 0.3s;
            border: 4px solid transparent;
            border-top: 4px solid transparentize($white, 0.3);
            margin-left: 4px;
            transform: translateY(25%);
        }
    }

    .user-menu {
        * {
            box-sizing: border-box;
        }
        display: none;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 16px 20px;
        top: 25px;
        right: 0px;
        background-color: $white;

        li:first-child {
            margin-bottom: 28px;
        }
        li a {
            display: block;
            min-width: 130px;
            font-size: 14px;
            color: transparentize($black, 0.3);
        }
    }
}
