@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';

header {
    height: $header-h;
    width: calc(100% - 60px);
    @include flex(row, space-between, center);
    padding: 0 30px;
    background-color: $purple;
    color: $white;
    font-weight: 500;
    font-size: 20px;

    div {
        height: 40px;
        @include flex(row, space-between, center);

        img {
            height: 30px;
            width: auto;
            margin-right: 15px;
        }
    }
}
