<div>
    <app-back-button></app-back-button>
    <app-buy-credits [balance]='balance'></app-buy-credits>
</div>
<label for='search'>{{label}}</label>
<app-card>
    <div class='main'>
        <button>
            <span class='icon-search'></span>
        </button>
        <input id='search' placeholder='e.g demand generation'>
        <button>
            <span class='icon-more-horizontal'></span>
        </button>
        <input type='button' value='Search' [disabled]='isDisabled'>
    </div>
</app-card>
<div class='credits'>
    <div>
        <label for='size'>List size</label>
        <input id='size' [value]='listSize'>
    </div>
    <div>
        <label for='coast'>Coast</label>
        <div>
            <output id='coast'>{{coast}}</output>
            <span>credits</span>
        </div>
    </div>
    <input type='button' value='Purchase List'>
</div>
<div class='list'>

</div>