<div>
    <app-back-button></app-back-button>
    <app-buy-credits link='/credits' [balance]='balance'></app-buy-credits>
</div>
<label for='search'>{{ label }}</label>
<app-card>
    <div class='main'>
        <button>
            <span class='icon-search'></span>
        </button>
        <input
            id='search'
            [formControl]='searchControl'
            [placeholder]='placeholder'
            autocomplete='off'
        >
        <input type='button' value='Search' [disabled]='isDisabled' (click)='search()'>
    </div>
</app-card>
<label *ngIf='list' for='size'>Desired list size</label>
<div class='credits' *ngIf='list'>
    <input type='number' id='size' [(ngModel)]='listSize' />
    <div>
        <output>{{ listSize }}</output>
        <span>credits</span>
    </div>
    <input type='button' value='Purchase List'/>
</div>
<div class='list' *ngIf='list' [@listAnimation]='true'>
    <div class='listItem'>
        <p>
            Over <b>{{ total | number }}</b> contacts found!
        </p>
        <span>LinkedIn</span>
    </div>
    <div class='listItem' *ngFor='let item of list; trackBy: trackByFn'>
        <span>{{item.name}}</span>
        <span>{{item.position}}</span>
        <span>{{item.linkedIn}}</span>
    </div>
    <div class="backdrop"></div>
</div>
