@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/extends';

:host {
    display: block;
    margin: 0 auto;
    width: 80%;
    min-width: 543px;

    label:nth-of-type(1) {
        font-weight: bold;
        font-size: 18px;
    }

    > div:first-child {
        @include flex(row, space-between, flex-start);
        margin-bottom: 70px;
    }

    app-card {
        padding: 20px;
        margin: 21px 0 36px;
        border-radius: 4px;
        border: 1px solid $thin-border;

        .main {
            @include flex(row, space-between, center);
            color: transparentize($text-color, 0.2);
            font-size: 18px;

            button span {
                font-size: 22px;
                color: transparentize($text-color, 0.1);
            }

            input:nth-of-type(1) {
                flex-grow: 1;
                border: none;
                @include label(18px);
                padding-left: 20px;
                color: transparentize($text-color, 0.2);

                &::placeholder {
                    color: transparentize($text-color, 0.4);
                }
            }

            input[type='button'] {
                @extend %common-button;
                padding: 10px 25px;
            }
        }
    }

    label:nth-of-type(2) {
        @include label(12px);
        color: transparentize($text-color, 0.2);
    }

    .credits {
        @include flex(row, space-between, center);
        height: 50px;
        color: transparentize($text-color, 0.2);
        margin: 5px 0 47px 0;

        input[type='number'] {
            height: calc(100% -28px);
            border-radius: 4px;
            border: 1px solid $thin-border;
            padding: 14px;
            width: 144px;
            flex-grow: 0;
            font-size: 18px;
            color: transparentize($text-color, 0.3);
        }

        div {
            flex-grow: 1;
            padding-left: 32px;

            output {
                font-weight: bold;
                color: $black;
                margin-right: 5px;
                font-size: 24px;
            }

            span {
                font-size: 13px;
            }
        }

        input[type='button'] {
            @extend %common-button;
            flex-grow: 1;
            max-width: 263px;
        }
    }

    .list {
        box-sizing: border-box;
        width: 100%;
        border-left: 1px solid $borders;
        border-right: 1px solid $borders;
        border-top: 1px solid $borders;
        margin: 10px 0;
        position: relative;
        div {
            margin-top: -1px;
            &:first-child {
                margin-top: 0;
            }
        }
        div {
            @include flex(row, space-between, center);
            border-bottom: 2px solid $borders;
            background-color: $white;
            padding: 10px;
            font-size: 13px;
            width: calc(100% - 20px);
            color: $text-color;

            span {
                text-align: left;
                min-width: 180px;
            }

            span:nth-of-type(2) {
                flex-grow: 1;
            }

            p {
                margin: 0;
            }

            span:first-child,
            p {
                font-size: 15px;
            }
        }

        div:first-child span {
            color: transparentize($text-color, 0.2);
        }

        .backdrop {
            padding: 0;
            position: absolute;
            bottom: 0;
            left: -2px;
            height: 100%;
            width: calc(100% + 4px);
            border: none;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, $background 100%);
        }
    }
}
