<div class="backdrop" (click)='closedPopup()'></div>
<div class="report-window">
  <div class="header">
    <span>{{report.date | date:'d, LLLL 	yyyy'}}</span>
    <span class="title">{{report.title}}</span>
    <button>Edit name</button>
  </div>
  <div class="main-content">
    <div class="upload-window">
      <div class="upload-msg">
        <span>Processing list.</span>
        <span>This will take approximately 15 minutes. We'll notify you via email when your list is
          ready.</span>
      </div>
      <div class="email-input-box">
        <input type="text" [disabled]='!inputActive' #emailInput (blur)='inputActive=false' [value]='userEmail'>
        <i class="icon-edit" (click)='editEmail()'></i>
      </div>
      <div class="progress-bar">
        <progress max="100" value="25"> </progress>
      </div>
    </div>

  </div>
</div>