@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';
:host {
    display: block;
    width: 50%;
    margin-right: 50px;
}
.container {
    padding: 32px 48px;
    background-color: $white;
    border: 2px solid $borders;
    border-radius: 24px;
}

.header {
    @include flex(row, space-between, flex-end);
    margin-bottom: 32px;
}

.file-img {
    @include size(56px, 56px);
    margin-bottom: 8px;
    img {
        @include size(100%, 100%);
    }
}
.file-title {
    @include text(12px, 700);
    color: $black;
    padding-left: 8px;
}
.file .change {
    @include text(12px, normal);
    color: lighten($blue, 5);
    padding-left: 8px;
    &:hover {
        text-decoration: underline;
    }
}
.contacts {
    text-align: right;
}
.contacts-title {
    @include text(12px, 700);
    color: transparentize($black, 0.5);
    margin-bottom: 8px;
}
.contacts-count {
    @include text(40px, bold);
    color: $black;
}

.contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.contacts-list__item {
    @include flex(row, space-between, center);
    padding: 12px;
    border: 1px solid darken($background, 5);
    margin-top: -1px;
}

.name {
    @include text(14px, 600);
    color: transparentize($black, 0.2);
}
.mail {
    @include text(12px, 600);
    color: transparentize($black, 0.2);
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 50%,
        rgba(255, 255, 255, 1) 100%
    );
}
