@import 'abstracts/variables.scss';

:host {
    display: block;
    height: 100%;
    background-color: $white;
    border: 2px solid $borders;
    padding: 28px 32px;

    footer {
        width: 100%;
        text-align: center;
    }
}
