<div class="container">
    <div class="services">
        <div class="title">Services</div>
        <div class="option" *ngFor="let option of options">
            <label>
                <input
                    name="options"
                    [value]="option.value"
                    type="checkbox"
                    checked
                    (change)="onChange()"
                />
                {{ option.label }}
                <span></span>
            </label>
        </div>
    </div>
    <div class="cost">
        <div class="title">
            Estimated cost
        </div>
        <div class="cost-value">
            <span>{{ estimatedCost | number }} </span>
            <span>credits</span>
        </div>
    </div>
    <div class="error" *ngIf="balanceStatus">
        {{ errorMessage }}
    </div>
    <a class="link" [routerLink]="link">{{ linkTitle }}</a>
</div>
