@mixin size($width, $height: auto) {
    width: $width;
    height: $height;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin label($font-size) {
    font-size: $font-size;
    color: $text-color;
    letter-spacing: 1px;
}

@mixin text($font-size, $font-weight, $line-height: 100%) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin textColor($color, $opacity: 0) {
    color: transparentize($color, $opacity);
}
