$purple: #583e65;
$blue: #4ea8dd;
$crimson: #db3962;
$background: #ededed;
$borders: darken($background, 2%);
$text-color: #333333;
$white: #ffffff;
$black: #333333;

$header-h: 70px;

$roboto: "Roboto", sans-serif;
