$purple: #583E65;
$blue: #4EA8DD;
$light-blue:darken(#f0f8ff, 0.5%);
$crimson: #DB3962;
$background: #ededed;
$borders: darken($background, 2%);
$text-color: #333333;
$white: #ffffff;
$black: #333333;

$header-h: 70px;

$roboto: 'Roboto', sans-serif;