@import 'abstracts/variables';
@import 'abstracts/extends';

div:first-child {
    width: 40%;
    min-width: 480px;
    margin: auto;

    div {
        margin: 40px 0;
    } 

    h1 {
        font-size: 17px;
    }

    p {
        font-size: 15px;
        color: transparentize($text-color, 0.2);
    }

    a {
        font-size: 14px;
        color: $blue;
    }

    input[type=button] {
        @extend %common-button;
        width: 50%;
    }
}
