@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';

.header {
    @include flex(row, space-between, flex-start);
}

.back {
    @include flex(row, flex-start, center);
    cursor: pointer;
    color: $blue;
    font-weight: 600;
    transition: color 0.3s;
    font-size: 16px;
    text-decoration: none;
    &:hover {
        color: darken($blue, 20);
    }
    .icon {
        font-size: 18px;
        margin-right: 8px;
    }
}
