@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';

.header {
    @include flex(row, space-between, flex-start);
}

.back {
    @include flex(row, flex-start, center);
    cursor: pointer;
    color: $blue;
    font-weight: 600;
    transition: color 0.3s;
    font-size: 16px;
    text-decoration: none;
    &:hover {
        color: darken($blue, 20);
    }
    .icon {
        font-size: 18px;
        margin-right: 8px;
    }
}

.credits {
    @include flex(row, flex-start, center);
}

.balance {
    @include flex(column, flex-start, flex-start);

    .title {
        font-size: 12px;
        letter-spacing: 1px;
        opacity: 0.6;
        color: $black;
    }
    .value {
        font-size: 24px;
        color: $black;
        font-weight: bold;
    }
    .label {
        font-size: 12px;
        color: $black;
        opacity: 0.9;
        font-weight: normal;
    }
}

.link {
    margin-left: 36px;
    text-decoration: none;
    color: $blue;
    border: 1px solid $blue;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    &:hover {
        color: $white;
        background-color: $blue;
    }
}
