<div class='container'>
    <div>
        <app-back-button></app-back-button>
        <a>API Documentation</a>
    </div>
    <h1>{{title}}</h1>
    <label for='key'>API key</label>
    <div>
        <input id='key' type='password' [formControl]='apiControl' [value]='token'>
        <a>Show</a>
    </div>
    <div>
        <input type='button' value='Remove'>
        <input type='button' value='Copy to clipboard'>
    </div>
    <div class='usage-graph-container'>
        <app-api-usage></app-api-usage>
    </div>
</div>
