@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';

.row {
    width: 100%;
    @include flex(row, space-between, flex-start);
}

.row:nth-of-type(1) {
    align-items: stretch;
    div {
        width: 48%;
        @include flex(column, space-between, flex-start);
    }

    p {
        flex-grow: 1;
    }
}

.row:nth-of-type(2) {
    margin-top: 60px;
}

h3 {
    font-size: 18px;
    margin: 5px 0;
}

p {
    color: transparentize($text-color, 0.2);
    font-size: 14px;
    line-height: 130%;
}

app-jobs-list {
    flex-grow: 1;
}
app-card {
    margin-top: 24px;
}

.side {
    flex-grow: 0;
    flex-shrink: 0;
    width: 290px;
    margin-left: 30px;

    span {
        cursor: pointer;
        text-decoration: none;
        color: lighten($blue, 5%);
        font-size: 12px;
        margin-top: 12px;
        display: inline-block;
        &:hover {
            text-decoration: underline;
        }
        &:focus {
            outline: none;
        }
    }
    a {
        display: block;
        text-align: center;
        background-color: #ffffff;
        width: 100%;
        border: 1px solid lighten($blue, 5%);
        outline: none;
        color: lighten($blue, 5%);
        transition: 0.3s;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px 0;

        &:hover {
            background-color: lighten($blue, 5%);
            color: #ffffff;
        }
    }
}
