<div class="header">
    <app-back-button></app-back-button>
    <app-buy-credits
        [error]="isLowBalance"
        [link]="'/credits'"
        [balance]="balance"
    ></app-buy-credits>
</div>
<div class="container">
    <ng-container *ngIf="!isUploaded; else preview">
        <app-upload-file (uploadClick)="uploadClick($event)"></app-upload-file>
    </ng-container>
</div>

<ng-template #preview>
    <div class="preview">
        <app-upload-file-preview></app-upload-file-preview>
        <app-upload-details
            (balanceCheck)="balanceCheck($event)"
            [balanceStatus]="isLowBalance"
        ></app-upload-details>
    </div>
</ng-template>
