@import 'scss/base/normalize/normalize';
@import 'scss/base/icomoon.scss';
@import 'scss/abstracts/variables.scss';
@import 'scss/base/typography.scss';

body {
    background-color: $background;
}

a, button {
    cursor: pointer;
    outline: none;
}

input {
    outline: none;
}