@import 'scss/base/normalize/normalize';
@import 'scss/base/icomoon.scss';
@import 'scss/abstracts/variables.scss';
@import 'scss/base/typography.scss';

body {
    background-color: $background;
    overflow-x: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button, input[type=button] {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

input {
    outline: none;
}
