@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';
.container {
    @include flex(row, space-between, center);
    flex-wrap: nowrap;
}
.description {
    max-width: 330px;
}
.caption {
    line-height: 130%;
    color: $black;
    opacity: 0.8;
    font-size: 14px;
    margin: 14px 0;
}
.link {
    margin-top: 50px;
    display: block;
    width: 250px;
    padding: 16px 22px;
    color: $white;
    background-color: $blue;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color 0.3s, opacity 0.3s;
    &:hover {
        background-color: darken($blue, 20);
    }

    &.disabled {
        cursor: default;
        opacity: 0.3;
        &:hover {
            background-color: $blue;
        }
    }
}

.form {
    box-sizing: border-box;
    padding: 32px 48px;
    background-color: $white;
    border: 2px solid $borders;
    border-radius: 24px;
    font-family: $roboto;
}
.form-title {
    font-size: 12px;
    opacity: 0.4;
    font-weight: 600;
}
.form-row {
    @include flex(row, flex-start, center);
    flex-wrap: nowrap;
    margin-bottom: 8px;
    &--titles {
        margin-bottom: 24px;
    }
}
.form-column-1 {
    @include flex(row, space-between, center);
    flex-wrap: nowrap;
    width: 280px;
    margin-right: 32px;
}
.form-column-2 {
    position: relative;
    width: 220px;
}
.input-title {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
    span {
        opacity: 0.3;
    }
}

.form-column-2 select {
    background-color: $background;
    width: 100%;
    color: $black;
    padding: 12px;
    border: none;
    font-size: 16px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    &:focus + .triangle {
        top: 40%;
        transform: rotate(0);
    }
    & + .triangle {
        display: block;
        position: absolute;
        font-size: 12px;
        top: 60%;
        right: 12px;
        border: 5px solid transparent;
        border-bottom: 5px solid $black;
        pointer-events: none;
        opacity: 0.5;
        transition: all 0.3s;
        transform: translateY(-50%) rotate(180deg);
    }
}

.disabledrow {
    opacity: 0.4;
}
table {
    margin-top: 100px;
    font-family: $roboto;
    border-collapse: collapse;
}
td {
    border: 1px solid darken($background, 5);
    min-width: 100px;
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    padding-right: 32px;
    opacity: 0.4;
}
.title-td {
    opacity: 0.8;
}
.active-td {
    font-size: 12px;
    opacity: 1;
    border: none;
    color: $blue;
}
